In [177]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re
%matplotlib inline

In [201]:
pd.read_excel('ODI_Youth_AllPlayers.xlsx')

,Nazmul Hossain Shanto (BD19),2013-2016,58,1820,113*,37.91,2,13,1948-03-01 00:00:00,20.23,0,24,0.1,17.68
0,Mahmudul Hasan (BD19),2007-2010,57,1168,82*,23.36,0,66,2016-04-17 00:00:00,22.19,0,33,0,1.16
1,Mehedi Hasan Miraz (BD19),2013-2016,56,1305,87,29,0,80,2016-05-17 00:00:00,20.9,1,20,0,8.1
2,Imad Wasim (Pak19),2005-2008,49,638,85,26.58,0,73,1938-05-01 00:00:00,21.19,1,16,0,5.39
3,Joyraz Sheik (BD19),2013-2016,43,1130,90,28.97,0,-,-,-,-,14,0,-
4,Ahmed Shehzad (Pak19),2007-2010,40,1318,115,37.65,1,29,1935-03-01 00:00:00,26.06,0,21,0,11.58
5,Sami Aslam (Pak19),2012-2014,40,1695,134,45.81,6,-,-,-,-,8,0,-
6,Suhrawadi Shuvo (BD19),2005-2008,40,548,67*,19.57,0,55,1938-05-01 00:00:00,20.05,1,18,0,-0.48
7,SS Pathirana (Sri19),2005-2008,39,625,97*,22.32,0,64,1952-05-01 00:00:00,23.65,1,17,0,-1.33
8,Ali Asad (Pak19),2005-2008,38,999,106,45.4,1,-,-,-,-,32,10,-
9,Anamul Haque (BD19),2009-2012,38,1326,128,35.83,3,-,-,-,-,31,12,-
10,KPCM Peiris (Sri19),2007-2010,38,405,62*,18.4,0,59,2016-05-25 00:00:00,21.66,1,9,0,-3.25
11,AJ Ball (Eng19),2010-2012,37,517,46*,23.5,0,27,1944-04-01 00:00:00,41.48,0,16,0,-17.98
12,PP Chawla (Ind19),2003-2007,37,488,55,25.68,0,71,2016-05-24 00:00:00,16.46,1,20,0,9.21
13,Mosaddek Hossain (BD19),2012-2014,37,1185,110*,39.5,1,31,2016-04-23 00:00:00,30.77,0,15,0,8.72
14,Babar Azam (Pak19),2009-2012,36,1271,129,38.51,3,6,1935-02-01 00:00:00,46.83,0,15,0,-8.31
15,Zia-ul-Haq (Pak19),2012-2014,36,65,21,9.28,0,60,2016-04-30 00:00:00,18.23,0,13,0,-8.94
16,VH Zol (Ind19),2012-2014,36,1404,128,42.54,4,1,2016-01-03 00:00:00,3,0,11,0,39.54
17,Dolar Mahmud (BD19),2005-2008,34,171,36,10.68,0,40,2016-04-26 00:00:00,26.2,0,11,0,-15.51
18,Mohammad Saifuddin (BD19),2013-2016,34,381,41*,19.05,0,45,2016-05-27 00:00:00,21.75,1,11,0,-2.7
19,PBB Rajapaksa (Sri19),2009-2011,34,1040,154*,35.86,2,17,2016-06-29 00:00:00,26.29,1,5,0,9.56
20,Saleh Ahmed Shawon (BD19),2015-2016,34,34,13*,6.8,0,60,2016-05-25 00:00:00,15.83,1,10,0,-9.03
21,TM Srivastava (Ind19),2005-2008,34,1316,110,48.74,2,10,1942-03-01 00:00:00,21.4,0,11,0,27.34
22,Zakir Hasan (BD19),2013-2016,34,610,81*,25.41,0,-,-,-,-,19,6,-
23,RA Jadeja (Ind19),2005-2008,33,451,94,25.05,0,31,2016-03-16 00:00:00,22.48,0,15,0,2.57
24,SN Khan (Ind19),2013-2016,33,1080,101,51.42,1,13,2016-04-27 00:00:00,24.92,0,24,0,26.5
25,Saif Hassan (BD19),2015-2016,33,897,107*,28.93,2,-,-,-,-,8,0,-
26,AD Mathews (Sri19),2003-2006,32,677,97*,37.61,0,15,2016-03-23 00:00:00,38.26,0,8,0,-0.65
27,Noor Hossain (BD19),2009-2012,32,473,66,22.52,0,41,2016-04-11 00:00:00,23.7,0,8,0,-1.18
28,NLTC Perera (Sri19),2005-2008,32,340,48,15.45,0,41,2016-04-30 00:00:00,25.85,0,4,0,-10.39
29,Shykat Ali (BD19),2008-2010,31,607,88,21.67,0,12,2016-03-11 00:00:00,23.5,0,6,0,-1.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3644,IM van Niekerk (Nam19),2008-2008,1,-,-,-,-,1,2016-01-18 00:00:00,18,0,0,0,-
3645,M van Olst (SAf19),1996-1996,1,4,4,4,0,0,-,-,0,0,0,-
3646,A van Rooi (Nam19),2008-2008,1,0,0,0,0,3,2016-03-25 00:00:00,8.33,0,1,0,-8.33
3647,HA Varaiya (Ken19),2002-2002,1,-,-,-,-,1,2016-01-15 00:00:00,15,0,0,0,-
3648,JNT Vare (PNG19),2004-2004,1,3,3,3,0,-,-,-,-,0,0,-
3649,K Vasania (Ind19),1985-1985,1,74,74,74,0,-,-,-,-,0,0,-
3650,DP Viljoen (Zim19),1996-1996,1,20,20,20,0,0,-,-,0,2,0,-
3651,S Viswanath (IndYC),1981-1981,1,13,13,13,0,-,-,-,-,0,0,-
3652,S Wallace (Aus19),2004-2004,1,-,-,-,-,-,-,-,-,0,0,-
3653,BM Watt (WI19),1995-1995,1,4,4,4,0,-,-,-,-,0,0,-
3654,RW Watts (AusYC),1979-1979,1,2,2,2,0,2,1931-02-01 00:00:00,15.5,0,1,0,-13.49
3655,NK Weerasinghe (Sri19),2015-2015,1,14,14,14,0,-,-,-,-,0,0,-
3656,AP Wells (EngYC),1981-1981,1,-,-,-,-,2,2016-02-16 00:00:00,8,0,1,0,-
3657,C White (Aus19),1989-1989,1,24,24,24,0,-,-,-,-,0,0,-
3658,DC Wickramasinghe (Sri19),1985-1985,1,2,2,2,0,1,2016-01-14 00:00:00,14,0,0,0,-11.99
3659,AGD Wickremasinghe (Sri19),1985-1985,1,7,7,7,0,-,-,-,-,0,4,-
3660,CG Wijesinghe (Sri19),2001-2001,1,-,-,-,-,-,-,-,-,0,0,-
3661,SN Wijesinghe (Sri19),1999-1999,1,5,5,5,0,-,-,-,-,0,0,-
3662,JD Wildermuth (Aus19),2012-2012,1,3,3,3,0,0,-,-,0,0,0,-
3663,BL Willett (AusYC),1979-1979,1,27,27*,-,0,-,-,-,-,2,0,-
3664,D Williams (WIYC),1982-1982,1,1,1,1,0,-,-,-,-,2,0,-
3665,MJ Williams (SAf19),1999-1999,1,6,6,6,0,0,-,-,0,0,0,-
3666,RG Williams (EngYC),1976-1976,1,1,1,1,0,2,2016-02-20 00:00:00,10,0,0,0,-8.99
3667,NT Wood (Eng19),1994-1994,1,35,35,35,0,-,-,-,-,1,0,-
3668,S Wright (Zim19),1998-1998,1,-,-,-,-,0,-,-,0,1,0,-
3669,BA Wylie (Ire19),2012-2012,1,10,10,10,0,2,2016-02-24 00:00:00,12,0,0,0,-1.99
3670,Yasir Bashir (Pak19),1999-1999,1,-,-,-,-,1,1934-01-01 00:00:00,34,0,0,0,-
3671,Zabid Hossain (BD19),2007-2007,1,10,10,10,0,-,-,-,-,2,0,-
3672,Zahid Ali (Ind19),2010-2010,1,98,98,98,0,-,-,-,-,0,0,-
3673,LA Zammit (Aus19),1999-1999,1,-,-,-,-,1,1946-01-01 00:00:00,46,0,0,0,-

In [202]:
pd.read_excel('ODI_Senior_National_5matchesormore.xlsx')

,SR Tendulkar (India),1989-2012,463,18426,200*,44.83,49,154,1932-05-01 00:00:00,44.48,2,140,0,0.35
0,DPMD Jayawardene (Asia/SL),1998-2015,448,12650,144,33.37,19,8,1956-02-01 00:00:00,70.37,0,218,0,-36.99
1,ST Jayasuriya (Asia/SL),1989-2011,445,13430,189,32.36,28,323,2016-06-29 00:00:00,36.75,4,123,0,-4.39
2,KC Sangakkara (Asia/ICC/SL),2000-2015,404,14234,169,41.98,25,-,-,-,-,402,99,-
3,Shahid Afridi (Asia/ICC/Pak),1996-2015,398,8064,124,23.57,6,395,2016-07-12 00:00:00,34.51,9,127,0,-10.93
4,Inzamam-ul-Haq (Asia/Pak),1991-2007,378,11739,137*,39.52,10,3,2000-01-01 00:00:00,21.33,0,113,0,18.19
5,RT Ponting (Aus/ICC),1995-2012,375,13704,164,42.03,30,3,2016-01-12 00:00:00,34.66,0,160,0,7.37
6,Wasim Akram (Pak),1984-2003,356,3717,86,16.52,0,502,2016-05-15 00:00:00,23.52,6,88,0,-7
7,M Muralitharan (Asia/ICC/SL),1993-2011,350,674,33*,6.8,0,534,2016-07-30 00:00:00,23.08,10,130,0,-16.27
8,R Dravid (Asia/ICC/India),1996-2011,344,10889,153,39.16,12,4,1943-02-01 00:00:00,42.5,0,196,14,-3.33
9,M Azharuddin (India),1985-2000,334,9378,153*,36.92,7,12,2016-03-19 00:00:00,39.91,0,156,0,-2.99
10,JH Kallis (Afr/ICC/SA),1996-2014,328,11579,139,44.36,17,273,2016-05-30 00:00:00,31.79,2,131,0,12.56
11,TM Dilshan (SL),1999-2016,327,10216,161*,39.44,22,106,2016-04-04 00:00:00,44.39,0,119,1,-4.95
12,SR Waugh (Aus),1986-2002,325,7569,120*,32.9,3,195,1933-04-01 00:00:00,34.67,0,111,0,-1.76
13,WPUJC Vaas (Asia/SL),1994-2008,322,2025,50*,13.68,0,400,2016-08-19 00:00:00,27.53,4,60,0,-13.85
14,SC Ganguly (Asia/India),1992-2007,311,11363,183,41.02,22,100,2016-05-16 00:00:00,38.49,2,100,0,2.53
15,PA de Silva (SL),1984-2003,308,9284,145,34.9,11,106,2016-04-30 00:00:00,39.4,0,95,0,-4.5
16,SM Pollock (Afr/ICC/SA),1996-2008,303,3519,130,26.45,1,393,1935-06-01 00:00:00,24.5,5,108,0,1.95
17,BC Lara (ICC/WI),1990-2007,299,10405,169,40.48,19,4,2016-02-05 00:00:00,15.25,0,120,0,25.23
18,MV Boucher (Afr/SA),1998-2011,295,4686,147*,28.57,1,-,-,-,-,403,22,-
19,DL Vettori (ICC/NZ),1997-2015,295,2253,83,17.33,0,305,2016-05-07 00:00:00,31.71,2,88,0,-14.38
20,Yuvraj Singh (Asia/India),2000-2013,293,8329,139,36.37,13,111,2016-05-31 00:00:00,38.18,1,93,0,-1.8
21,Mohammad Yousuf (Asia/Pak),1998-2010,288,9720,141*,41.71,15,1,2000-01-01 00:00:00,1,0,58,0,40.71
22,AC Gilchrist (Aus/ICC),1996-2008,287,9619,172,35.89,16,-,-,-,-,417,55,-
23,Saleem Malik (Pak),1982-1999,283,7170,102,32.88,5,89,1935-05-01 00:00:00,33.24,1,81,0,-0.35
24,SP Fleming (ICC/NZ),1994-2007,280,8037,134*,32.4,8,1,2016-01-08 00:00:00,28,0,133,0,4.4
25,MS Dhoni (Asia/India),2004-2016,275,8918,183*,51.25,9,1,2016-01-14 00:00:00,31,0,257,89,20.25
26,AR Border (Aus),1979-1994,273,6524,127*,30.62,3,73,2016-03-20 00:00:00,28.36,0,127,0,2.25
27,A Kumble (Asia/India),1990-2007,271,938,26,10.53,0,337,2016-06-12 00:00:00,30.89,2,85,0,-20.35
28,CH Gayle (ICC/WI),1999-2015,269,9221,215,37.33,22,163,1946-05-01 00:00:00,35.2,1,114,0,2.12
29,A Ranatunga (SL),1982-1999,269,7456,131*,35.84,4,79,2016-04-14 00:00:00,47.55,0,63,0,-11.71
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1570,AJ Penn (NZ),1997-2001,5,23,15,11.5,0,1,1950-01-01 00:00:00,201,0,1,0,-189.49
1571,MDK Perera (SL),2007-2014,5,44,30,11,0,2,2016-01-17 00:00:00,40.5,0,0,0,-29.49
1572,OL Pitcher (Ber),2007-2007,5,72,30,14.4,0,0,-,-,0,2,0,-
1573,CA Pujara (India),2013-2014,5,51,27,10.2,0,-,-,-,-,0,0,-
1574,Raees Ahmadzai (Afg),2009-2010,5,88,39,29.33,0,0,-,-,0,2,0,-
1575,IR Redpath (Aus),1971-1975,5,46,24,9.2,0,-,-,-,-,2,0,-
1576,G Salmond (Scot),1999-1999,5,57,31,11.4,0,-,-,-,-,1,0,-
1577,DP Samaraweera (SL),1993-1994,5,91,49,22.75,0,-,-,-,-,3,0,-
1578,Saqib Ali (UAE),2008-2014,5,84,25*,21,0,1,1944-01-01 00:00:00,57,0,2,0,-35.99
1579,Sarandeep Singh (India),2002-2003,5,47,19,15.66,0,3,1934-02-01 00:00:00,60,0,2,0,-44.33
1580,MMC Schewe (Neth),1996-1996,5,49,20,16.33,0,-,-,-,-,2,1,-
1581,RH Scholte (Neth),2002-2003,5,39,12,7.8,0,-,-,-,-,0,0,-
1582,Sharafuddin Ashraf (Afg),2014-2014,5,18,14,9,0,6,2016-03-29 00:00:00,32,0,0,0,-22.99
1583,MJ Smith (Eng),1973-1974,5,70,31,14,0,-,-,-,-,1,0,-
1584,MJ Smith (Scot),1999-1999,5,19,13,3.8,0,-,-,-,-,0,0,-
1585,G Snyman (Nam),2003-2003,5,5,5,1.25,0,6,1969-03-01 00:00:00,46.83,0,0,0,-45.58
1586,JH Stander (Scot),2009-2012,5,44,22*,11,0,6,2016-02-25 00:00:00,27.66,0,1,0,-16.66
1587,IM Stanger (Scot),1999-2006,5,50,27,10,0,0,-,-,0,2,0,-
1588,CEL Stuart (WI),2001-2001,5,3,3*,-,0,8,1944-05-01 00:00:00,25.62,1,1,0,-
1589,SJ Swanepoel (Nam),2003-2003,5,43,23,8.6,0,-,-,-,-,0,0,-
1590,AR Tait (NZ),1998-1999,5,35,13*,11.66,0,3,1937-02-01 00:00:00,29.33,0,0,0,-17.66
1591,GC Tonge (WI),2009-2009,5,10,5,5,0,5,2016-04-25 00:00:00,44.8,0,0,0,-39.79
1592,PM Toohey (Aus),1978-1979,5,105,54*,52.5,0,-,-,-,-,0,0,-
1593,TE Tucker (Ber),2008-2009,5,-,-,-,-,7,1956-04-01 00:00:00,22.42,0,2,0,-
1594,M van Schoor (Nam),2003-2003,5,58,24,14.5,0,-,-,-,-,4,0,-
1595,RJ van Vuuren (Nam),2003-2003,5,26,14,8.66,0,8,1943-05-01 00:00:00,37.25,1,0,0,-28.58
1596,CAK Walton (WI),2009-2014,5,17,17,4.25,0,-,-,-,-,6,1,-
1597,PN Webb (NZ),1983-1984,5,38,10*,9.5,0,-,-,-,-,3,0,-
1598,KJ Wright (Aus),1979-1979,5,29,23,14.5,0,-,-,-,-,8,0,-
1599,Zulfiqar Babar (Pak),2014-2015,5,35,14*,17.5,0,4,1952-02-01 00:00:00,61.5,0,0,0,-43.99

In [206]:
youth=pd.read_excel('ODI_Youth_AllPlayers.xlsx', na_values= ['-'], header=None, names=[
        'name', 
        'tenure', 
        'MP', 
        'total_runs', 
        'hs', 
        'avg_runs', 
        'centuries', 
        'halfcenturies', 
        'best_bowling', 
        'avg_bowling',
        '5W',
        'catchings',
        'stumpings',
        'avg_diff'])

In [207]:
senior=pd.read_excel('ODI_Senior_National_5matchesormore.xlsx', header=None, na_values= ['-'],names=[
        'name', 
        'tenure', 
        'MP', 
        'total_runs', 
        'hs', 
        'avg_runs', 
        'centuries', 
        'halfcenturies', 
        'best_bowling', 
        'avg_bowling',
        '5W',
        'catchings',
        'stumpings',
        'avg_diff'])

In [212]:
youth.head()

,name,tenure,MP,total_runs,hs,avg_runs,centuries,halfcenturies,best_bowling,avg_bowling,5W,catchings,stumpings,avg_diff
0,Nazmul Hossain Shanto (BD19),2013-2016,58,1820,113*,37.91,2,13,1948-03-01 00:00:00,20.23,0,24,0,17.68
1,Mahmudul Hasan (BD19),2007-2010,57,1168,82*,23.36,0,66,2016-04-17 00:00:00,22.19,0,33,0,1.16
2,Mehedi Hasan Miraz (BD19),2013-2016,56,1305,87,29.00,0,80,2016-05-17 00:00:00,20.90,1,20,0,8.10
3,Imad Wasim (Pak19),2005-2008,49,638,85,26.58,0,73,1938-05-01 00:00:00,21.19,1,16,0,5.39
4,Joyraz Sheik (BD19),2013-2016,43,1130,90,28.97,0,NaN,NaN,NaN,NaN,14,0,NaN

In [213]:
senior.head()

,name,tenure,MP,total_runs,hs,avg_runs,centuries,halfcenturies,best_bowling,avg_bowling,5W,catchings,stumpings,avg_diff
0,SR Tendulkar (India),1989-2012,463,18426,200*,44.83,49,154,1932-05-01,44.48,2,140,0,0.35
1,DPMD Jayawardene (Asia/SL),1998-2015,448,12650,144,33.37,19,8,1956-02-01,70.37,0,218,0,-36.99
2,ST Jayasuriya (Asia/SL),1989-2011,445,13430,189,32.36,28,323,2016-06-29,36.75,4,123,0,-4.39
3,KC Sangakkara (Asia/ICC/SL),2000-2015,404,14234,169,41.98,25,NaN,NaT,NaN,NaN,402,99,NaN
4,Shahid Afridi (Asia/ICC/Pak),1996-2015,398,8064,124,23.57,6,395,2016-07-12,34.51,9,127,0,-10.93

In [184]:
#Objective:
# Only a select set of players move from U-19 international cricket to their respective senior national team
# Most that do move up don't play more than a couple matches.
# I want to predict players' likeliness to play more than 5 games for the senior national team based on these stats.

#Data used:
# I am using data from StatsGuru ESPNCricinfo. They do not have an API but Statsguru is a query tool to their database. 
# I manually copied the data output into an xlsx file and then read it into a df using pandas.

# Interesting inferences so far:
# I will have to consider youth players that are currently youths. They may be selected in the future for the national
# team but currently it  will show that they aren't selected. 
# Also, I'm sure selectors use as much non-quantitative & non-performance related
# things in their selections ( work ethic, how well they know a player, etc.) but this prediction experiment should
# create some benchmark for expected player performance (hopefully).
# Also, player position (spin bowler, fast bowler, wicket keeper, opening batsman, slugger, etc. is a large aspect 
# of selection that can't be measured using this dataset)

# Origin of interest:
# I have played cricket for a lot of my life and continue to play in the spring and summer. Many friends of mine have
# played at the U-19 level for USA, an awesome feat in itself, yet none have been chosen for the national squad.

In [185]:
# Things to do:

# count number of nans in halfcenturies where hs > 50. 
# Drop 'best_bowling' feature
# Separate country from name 
# Break tenure into 'year debuted' & 'year retired'
# 'engineer' features: 'consistency' -- % of time player scored 50 or 100 or more out of matches played
# determine how to handle stumpings--a selection criteria for WicketKeepers only (nan where 0?)
# Match U19 youth dataset to the senior dataset (by name?) to determine which players became players at senior nt'l lvl
    # this will be 0 for didn't make senior national or 1 for did make senior national (label column)
# cluster to potentially find batsmen, bowlers and maybe WKs.

In [256]:
youth.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3675 entries, 0 to 3674
Data columns (total 14 columns):
name             3675 non-null object
tenure           3675 non-null object
MP               3675 non-null int64
total_runs       3534 non-null float64
hs               3534 non-null object
avg_runs         3337 non-null float64
centuries        3534 non-null float64
halfcenturies    2505 non-null float64
best_bowling     2077 non-null object
avg_bowling      2077 non-null float64
5W               2505 non-null float64
catchings        3675 non-null int64
stumpings        3675 non-null int64
avg_diff         1847 non-null float64
dtypes: float64(7), int64(3), object(4)
memory usage: 430.7+ KB

In [250]:
# Best bowling figure had bad conversion/interpretability from excel. It is written as #wickets/#runsgivenaway.
# Using "month field" as most wickets taken in a match.

In [268]:
youth['best_bowling'].dtype

dtype('O')

In [276]:
youth['best_bowling'].astype(basestring)

0      1948-03-01
1      2016-04-17
2      2016-05-17
3      1938-05-01
4             NaT
5      1935-03-01
6             NaT
7      1938-05-01
8      1952-05-01
9             NaT
10            NaT
11     2016-05-25
12     1944-04-01
13     2016-05-24
14     2016-04-23
15     1935-02-01
16     2016-04-30
17     2016-01-03
18     2016-04-26
19     2016-05-27
20     2016-06-29
21     2016-05-25
22     1942-03-01
23            NaT
24     2016-03-16
25     2016-04-27
26            NaT
27     2016-03-23
28     2016-04-11
29     2016-04-30
          ...
3645   2016-01-18
3646          NaT
3647   2016-03-25
3648   2016-01-15
3649          NaT
3650          NaT
3651          NaT
3652          NaT
3653          NaT
3654          NaT
3655   1931-02-01
3656          NaT
3657   2016-02-16
3658          NaT
3659   2016-01-14
3660          NaT
3661          NaT
3662          NaT
3663          NaT
3664          NaT
3665          NaT
3666          NaT
3667   2016-02-20
3668          NaT
3669          NaT
3670   2016-02-24
3671   1934-01-01
3672          NaT
3673          NaT
3674   1946-01-01
Name: best_bowling, dtype: datetime64[ns]

In [280]:
youth['best_bowling'].apply(lambda x: x.strftime('%m'))

AttributeError: 'float' object has no attribute 'strftime'

In [189]:
senior.drop('best_bowling', axis=1, inplace=True)

In [251]:
youth.head()

,name,tenure,MP,total_runs,hs,avg_runs,centuries,halfcenturies,best_bowling,avg_bowling,5W,catchings,stumpings,avg_diff
0,Nazmul Hossain Shanto (BD19),2013-2016,58,1820,113*,37.91,2,13,1948-03-01 00:00:00,20.23,0,24,0,17.68
1,Mahmudul Hasan (BD19),2007-2010,57,1168,82*,23.36,0,66,2016-04-17 00:00:00,22.19,0,33,0,1.16
2,Mehedi Hasan Miraz (BD19),2013-2016,56,1305,87,29.00,0,80,2016-05-17 00:00:00,20.90,1,20,0,8.10
3,Imad Wasim (Pak19),2005-2008,49,638,85,26.58,0,73,1938-05-01 00:00:00,21.19,1,16,0,5.39
4,Joyraz Sheik (BD19),2013-2016,43,1130,90,28.97,0,NaN,NaN,NaN,NaN,14,0,NaN

In [252]:
senior.head()

,name,tenure,MP,total_runs,hs,avg_runs,centuries,halfcenturies,best_bowling,avg_bowling,5W,catchings,stumpings,avg_diff
0,SR Tendulkar (India),1989-2012,463,18426,200*,44.83,49,154,1932-05-01,44.48,2,140,0,0.35
1,DPMD Jayawardene (Asia/SL),1998-2015,448,12650,144,33.37,19,8,1956-02-01,70.37,0,218,0,-36.99
2,ST Jayasuriya (Asia/SL),1989-2011,445,13430,189,32.36,28,323,2016-06-29,36.75,4,123,0,-4.39
3,KC Sangakkara (Asia/ICC/SL),2000-2015,404,14234,169,41.98,25,NaN,NaT,NaN,NaN,402,99,NaN
4,Shahid Afridi (Asia/ICC/Pak),1996-2015,398,8064,124,23.57,6,395,2016-07-12,34.51,9,127,0,-10.93

In [192]:
# Reasons for NaNs
# In most cases, player is specialized (only bats, only bowls, wicket keeper)
# We should not drop these records

In [193]:
youth.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3674 entries, Mahmudul Hasan (BD19) to LA Zammit (Aus19)
Data columns (total 12 columns):
tenure           3674 non-null object
MP               3674 non-null int64
total_runs       3533 non-null float64
hs               3533 non-null object
avg_runs         3336 non-null float64
centuries        3533 non-null float64
halfcenturies    2504 non-null float64
avg_bowling      2076 non-null float64
5W               2504 non-null float64
catchings        3674 non-null int64
stumpings        3674 non-null int64
avg_diff         1846 non-null float64
dtypes: float64(7), int64(3), object(2)
memory usage: 373.1+ KB

In [194]:
youth.describe()

,MP,total_runs,avg_runs,centuries,halfcenturies,avg_bowling,5W,catchings,stumpings,avg_diff
count,3674.000000,3533.000000,3336.000000,3533.000000,2504.000000,2076.000000,2504.000000,3674.000000,3674.000000,1846.000000
mean,6.580294,104.990659,18.620141,0.068780,5.945687,33.648025,0.059904,2.465705,0.199238,-17.223776
std,5.937986,157.164812,16.124096,0.336647,7.830266,23.434784,0.258313,3.705691,1.085779,28.541403
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-228.990000
25%,3.000000,14.000000,7.000000,0.000000,1.000000,19.500000,0.000000,0.000000,0.000000,-27.330000
50%,5.000000,48.000000,15.265000,0.000000,3.500000,27.240000,0.000000,1.000000,0.000000,-14.490000
75%,8.000000,127.000000,25.880000,0.000000,8.000000,40.000000,0.000000,3.000000,0.000000,-2.495000
max,57.000000,1695.000000,154.000000,6.000000,80.000000,231.000000,3.000000,46.000000,21.000000,127.500000

In [195]:
s = youth.tenure.str.split('-',1).tolist(), columns = ['start','retire']
t = youth.name.str.split('(',1).tolist(), columns = ['name', 'team']
t['team'].apply(lambda x: x.strip(')'))

SyntaxError: can't assign to function call (<ipython-input-195-0d7e89a0bea3>, line 1)

In [196]:
youth.name.value_counts

AttributeError: 'DataFrame' object has no attribute 'name'

0        BD19
1        BD19
2       Pak19
3        BD19
4       Pak19
5       Pak19
6        BD19
7       Sri19
8       Pak19
9        BD19
10      Sri19
11      Eng19
12      Ind19
13       BD19
14      Pak19
15      Pak19
16      Ind19
17       BD19
18       BD19
19      Sri19
20       BD19
21      Ind19
22       BD19
23      Ind19
24      Ind19
25       BD19
26      Sri19
27       BD19
28      Sri19
29       BD19
        ...
3644    Nam19
3645    SAf19
3646    Nam19
3647    Ken19
3648    PNG19
3649    Ind19
3650    Zim19
3651    IndYC
3652    Aus19
3653     WI19
3654    AusYC
3655    Sri19
3656    EngYC
3657    Aus19
3658    Sri19
3659    Sri19
3660    Sri19
3661    Sri19
3662    Aus19
3663    AusYC
3664     WIYC
3665    SAf19
3666    EngYC
3667    Eng19
3668    Zim19
3669    Ire19
3670    Pak19
3671     BD19
3672    Ind19
3673    Aus19
Name: team, dtype: object

  start retire
0  2007   2010
1  2013   2016
2  2005   2008
3  2013   2016
4  2007   2010

                  name    team
0      Mahmudul Hasan    BD19)
1  Mehedi Hasan Miraz    BD19)
2          Imad Wasim   Pak19)
3        Joyraz Sheik    BD19)
4       Ahmed Shehzad   Pak19)